@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tzmkwp');
  src:  url('fonts/icomoon.eot?tzmkwp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tzmkwp') format('truetype'),
    url('fonts/icomoon.woff?tzmkwp') format('woff'),
    url('fonts/icomoon.svg?tzmkwp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="staricon-"], [class*="staricon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.staricon-star_trek:before {
  content: "\e900";
}
.staricon-star_trek-01:before {
  content: "\e901";
}
