<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' /> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet" type='text/css' /> 
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="author" content="{{ AUTHOR }}">
    
    <title>{% block title %} {{SITENAME}} {% endblock %}</title>

    <link rel="stylesheet" href="/theme/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/theme/css/style_startrek.css" type="text/css" />
    <link rel="stylesheet" href="/theme/css/pygments.css" type="text/css" />
    <link rel="stylesheet" href="/theme/css/haddock_highlighting.css" type="text/css"/> 

    <link rel="icon" type="image/png" sizes="32x32" href="/theme/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/theme/favicon/favicon-16x16.png">

    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML"></script>
    <script src="https://kit.fontawesome.com/82e3c98057.js" crossorigin="anonymous"></script> 
  </head>
  <body>
    <div class=container>
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
        
        <div class=body>
        {% block content %} {% endblock %}
        </div>
        
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    
    </div>
    {% include 'googleanalytics.html' %}
    {% include 'piwik.html' %}
  </body>
</html>

